@use '../../global' as *;

@mixin text{
    @include font(400, 1.28rem, $color-90-grey);
}

@mixin label-font{
    @include font(500, 1.57rem, $colorAbs-white)
}
@mixin input-font{
    @include font(400, 1.28rem, $color-40-grey);
}

@mixin positions {
    width: 100%;

    display: flex;
    flex-direction: column;
    
    &__header{
        padding: 3.57rem;
        padding-top: 8.57rem;
        
        display: flex;
        flex-direction: column;
        gap: 3.57rem;
        
        border-top: 1px solid $color-20-grey;
        border-inline: 1px solid $color-20-grey;   

    }
    &__heading{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    &__title{
        @include font(600, 3.42rem, $colorAbs-white);
    }
        
    &__text{
        @include font(400, 1.28rem, $colorAbs-white);
    }
}
@mixin vacancies{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    &__option{
        display: flex;
        flex-direction: column;

        border-inline: 1px solid $color-20-grey;
    }
    &__header{
        border-top: 1px solid $color-20-grey;
    }
    &__title{
       @include font(500, 2rem, $color-60-grey);
            
       margin-block: 3.57rem;
        padding-left: 3.57rem;
        
    }
    &__cards{
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);    
    }
    &__card{
    padding: 3.57rem;
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.14rem;
    
    border-top: 1px solid $color-20-grey;

    &:not(:nth-child(3n)){
        border-right: 1px solid $color-20-grey;
    }
    
        &-button{
            @include font(500, 1.28rem, $colorAbs-white);
            
            width: 100%;
            padding-block: 1.28rem;
            
            background-color: #262626;
            
            border: 1px solid transparent;
            border-radius: 0.714rem;
            
            @include transition(all, 0.7s, ease);
            cursor: pointer;
            user-select: none;
            
            &:hover{
                transform: translateY(-2px);
                
                background-color: $color-10-grey;
                @include dark-border;  
            }
            &:active{
                transform: scale(0.95);
                transition: transform 0.1s;
            }
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        gap: 1.42rem;
        
        &-text{
            @include font(400, 1.28rem, $color-90-grey);
        }
    }
    @media(max-width: 768px){
        &__cards{
            grid-template-columns: repeat(2, 1fr);
        }
        &__card {
            &:not(:nth-child(3n)){
                border-right: none;
            }
            &:first-child{
                border-right: 1px solid $color-20-grey;
            }
        }
    }
    @media(max-width: 360px){
        &__cards{
            grid-template-columns: repeat(1, 1fr);
        }
        &__card:first-child{
            border-right: none;
        }
        &__title{
            padding: 0;

            text-align: center;
        }
    }
}
@mixin illustration{
    display: flex;
    flex-direction: column;
    gap: 1.42rem;
    
    &__icon-wrapper{
        padding: calc(2rem - 5px);

        position: relative;
        
        align-self: flex-start;
        
        background-color: $color-10-grey;
        border-radius: 1rem;
        @include border-grey;
        overflow: hidden;
        
        &::after{
            content: "";
            
            position: absolute;
            bottom: 2.8rem;
            right: 2.8rem;
            
            height: 250%;
            width: 250%;
            
            background-image: radial-gradient(
                circle at 0% 0%, 
                rgba(158, 255, 0, 0.2) 65%, 
                transparent 90%
            );
            pointer-events: none;     
        }
    }
    &__icon{
        // padding: 2.142rem;
        
        width: 2.85rem;
        height: 2.85rem;
        
        // background-color: $color-10-grey;
        // @include border-grey;
        // border-radius: 12px;
        
    }
    &__subtitle{
        @include font(500, 1.42rem, $colorAbs-white);
    }
}
@mixin vacancies-media($selector){

    @media (max-width:768px){

        #{$selector}__card:last-child{
            grid-column:1 / -1; //Растяжение последнего элемента
        }

        #{$selector}__card:last-child .illustration{
            align-items: center; //Центрирование содержимого 
        }

        #{$selector}__card:last-child .illustration__icon-wrapper,
        #{$selector}__card:last-child #{$selector}__card-button {
           align-self: center; //Центрирование иконки, кнопки
        }

        #{$selector}__card:last-child #{$selector}__description-text{
            text-align: center;
        }

        #{$selector}__card:last-child #{$selector}__card-button{ //Задание ограниченного размера при центрировании
            width: auto;
            padding-inline: 2.14rem;
        }
    }

    @media (max-width:360px){

        #{$selector}__card .illustration{
            align-items: center; //Центрирование содержимого 
        }

        #{$selector}__card .illustration__icon-wrapper,
        #{$selector}__card-button {
           align-self: center; //Центрирование иконки, кнопки
        }

        #{$selector}__description-text{
            text-align: center;
        }

        #{$selector}__card-button{ //Задание ограниченного размера при центрировании
            width: auto;
            padding-inline: 2.14rem;
        }
    }
}

//header в секциях с фоном
@mixin hero-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__title{
        @include font(600, 3.42rem, $colorAbs-white);
        text-align: center;
    }
    &__text{
        @include font(400, 1.17rem, $color-90-grey);
        text-align: center;
        
        max-width: 1000px;
    }
}
@mixin hero-header{
    position: relative;

    &::after{
        content: '';
        
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        opacity: 0.6;
        
        background-image: url('./pages/works-page/images/components/unique-header-block.png');
        background-repeat: repeat;
        background-size: cover;
        background-position: right;
    }
}
@mixin hero-description{
    position: relative;

    padding-block: 8.57rem;
    padding-inline: 4.28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.8);
    
    &::after{
        content: '';
        
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        background-color: #acff24;

        opacity: 0.2;
    }
    &::before{
        content: '';
        
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        
        background-image: url('./pages/works-page/images/components/unique-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
