// Asolute colors

$colorAbs-white: #fff;
$colorAbs-black: #000;

// Green Shades

$color-50-green: #9eff00;
$color-60-green: #b1ff33;
$color-70-green: #c5ff66;
$color-80-green: #d8ff99;
$color-90-green: #ecffcc;
$color-97-green: #f5ffe5;
$color-99-green: #fdfffa;

// Grey Shades

$color-10-grey: #191919;
$color-15-grey: #262626;
$color-20-grey: #333333;
$color-30-grey: #4c4c4d;
$color-35-grey: #59595a;
$color-40-grey: #656567;
$color-60-grey: #98989a;
$color-90-grey: #e6e6e6;

$color-special-bg: rgba(36, 36, 36, 0.6);

