@use '../../global' as *;

//Общие медиа-запросы

@media(max-width: 1200px){
    html{
        font-size: 12px;
    }
    .services{
        .header__logo{
            width: 8.57rem;
            height: 2.85rem;
        }
    }
}
@media(max-width: 1045px){
    .services{
        .header{
            flex-direction: column;
        }
    }
}
@media(max-width: 1000px){
    html{
        font-size: 10px;
    }
    .services{
        .header{
            flex-direction: column;
        }
    }
}
@media(max-width: 768px){
    html{
        font-size: 8px;
    }
    .services{
        .footer__main{
            flex-direction: column;
            justify-content: flex-start;
        }
        .footer__main .navigation{
            padding-block: 2.14rem;
            width: 100%;
    
            @include border-grey;
            border-inline: none;
        }    
        .footer__main .navigation__list{
            justify-content: center;
        }    
        .footer .social{
            width: 100%;
    
            flex-direction: column;
        }
        .footer__copyright{
            flex-direction: column;
            
            border: none;
        }
        .footer__contacts{
            width: 100%;
            
            flex-direction: column;
        }
        .footer__contact{
            width: 100%;
        }
    }
}
@media(max-width: 480px){
    html{
    font-size: 6px;
    }
    .services{
        .header{
            flex-direction: row;
            justify-content: space-between;
        }
        .header__logo{
            width: 20rem;
            height: 6.66rem;
        }
        .header__button{
            display: none;
        } 
        .header__burger {
            display: grid; // показываем бургер
            align-items: center;
            gap: 4px;
        }
        .header__burger span{
            height: 1.6px;
        }
        .header__burger-wrapper{
            display: flex;
        }
        .header .navigation {
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 30;
            
            padding: 6rem 2rem 2rem;
            width: 40vw;
            height: 100vh;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            
            background: $color-10-grey;
            
            transition: right 0.4s ease;
        }
        .header .navigation__list {
            width: 100%;
    
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
        .header .navigation__link {
            font-size: 2rem;
        }
        // Активное состояние — выезд панели
        .header__toggle:checked ~ .navigation {
            right: 0%;
        }
        .header__toggle:checked ~ .header__overlay {
            opacity: 1;
           
            pointer-events: auto;
        }
    }

}
@media(max-width: 270px){
    .services{   
        .header__logo{
            width: 18rem;
            height: 6.66rem;
        }
        .header__burger-wrapper{
            padding: 6px;

            border-radius: 4px;
        }
        .header__burger{
            min-height: 0;
            width: 3.6rem;
            height: 3.6rem;
            padding: 2px 2px;
            align-items: center;
            gap: 1px;
        }
        .header__burger span{
            height: 1.5px;
            
            border-radius: 1px;
        }
    }
}
