@use '../../global' as *;

@mixin text{
    @include font(400, 1.28rem, $color-90-grey);
}

@mixin label-font{
    @include font(500, 1.57rem, $colorAbs-white)
}
@mixin input-font{
    @include font(400, 1.28rem, $color-40-grey);
}

@mixin our-story-section{
    width: 100%;

    display: flex;
    flex-direction: column;
    
    @include border-grey;
    
    &__header{
        padding-block: 8.57rem;
        padding-inline: 3.57rem;
        
        // border-block: 1px solid $color-20-grey;
    }
    &__title{
        @include font(600, 4.14rem, $colorAbs-white);
    }
}
@mixin growth-phases{
    display: flex;
    flex-direction: column;

    &__cards{
        
        display: flex;
    }
    &__card{
        width: 100%;
        padding: 7.14rem 3.57rem;


        display: flex;
        flex-direction: column;
        gap: 3.57rem;
        
        border-top: 1px solid $color-20-grey;
        
        &:nth-child(2n-1){
            border-right: 1px solid $color-20-grey;
        }
    }
    &__heading{
        display: flex;   
        gap: 1rem;   
    }
    &__count{
        @include font(600, 10.714rem, $color-80-green);
    }
    &__title-wrapper{
        height: 100%;
        width: 100%;
        padding-bottom: 2.3rem;

        display: flex;
        align-items: flex-end;        
    }
    &__title{
            @include font(700, 2.714rem, $color-80-green);
            
            width: 100%;
            padding-bottom: 1.85rem;

            border-bottom: 1px solid $color-20-grey;
    }
    &__card-text{
        @include font(400, 1.28rem, $color-60-grey);
    }

    @media(max-width: 768px){
        &__cards{
            flex-direction: column;
            justify-content: flex-end;
        }
        &__heading{
            align-items: flex-end;
        }
        &__title-wrapper{
            align-items: stretch;
        }
    }
    @media(max-width: 240px){
        &__heading{
            flex-direction: column;
            align-items: center;
        }
        &__title-wrapper{
            justify-content: center;
        }
        &__title{
            text-align: center;

        }
    }
}


//header в секциях с фоном
@mixin hero-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__title{
        @include font(600, 3.42rem, $colorAbs-white);
        text-align: center;
    }
    &__text{
        @include font(400, 1.17rem, $color-90-grey);
        text-align: center;
        
        max-width: 1000px;
    }
}
@mixin hero-header{
    position: relative;

    &::after{
        content: '';
        
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        opacity: 0.6;
        
        background-image: url('/pages/works-page/images/components/unique-header-block.png');
        background-repeat: repeat;
        background-size: cover;
        background-position: right;
    }
}
@mixin hero-description{
    position: relative;

    padding-block: 8.57rem;
    padding-inline: 4.28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.8);
    
    &::after{
        content: '';
        
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        background-color: #acff24;

        opacity: 0.2;
    }
    &::before{
        content: '';
        
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        
        background-image: url('/pages/about-page/images/unique-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
