@use '../core' as *;

.home-page{
    .footer{
        padding: 3.57rem 5.714rem;
        ;
    
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        @include border-grey;
    
        &__main{
            max-width: 1600px;
            width: 100%;
        
            padding-block: 1.14rem;
            padding-bottom: 3.57rem;
            ;
    
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3.57rem;
        }
        &__logo{
            width: auto;
            height: 4.28rem;
        }
        
        .navigation{ // Компонент навигации
            &-list{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2.14rem;
            }   
            &__link{
                @include font(500, 1.28rem, $colorAbs-white);
                @include transition(all, 0.5s, ease);

                user-select: none;

                &:hover{
                    color: $color-60-grey;
                }

                &:active{
                    transform: scale(0.95);
                    transition: transform 0.1s;
                }
            }
        }
        .social{ // Компонент ссылок на соцсети
            padding: 1rem;
            ;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.42rem;
        
            border-radius: 5px;
            @include border-grey;
        
            &__title{
                @include font(500, 1.28rem, $colorAbs-white);
                white-space: nowrap;
            }
            &__list{
                display: flex;
                justify-content: center;
                gap: 1rem;
            }
            &__item{
                ;
     
                @include gradient-bg-border;
                @include transition(all, 0.5s, ease);
    
                cursor: pointer;
                user-select: none;
    
                &:hover{
                    transform: scale(1.2);
                }
        
                &:active{
                    transform: scale(0.95);
                    transition: transform 0.1s;
                }
            }
            &__icon{
                color: white;
    
                margin: 1.42rem;
                width: 1.714rem;
                height: 1.714rem;
    
                &:hover{
                    color: #9EFF00;
                }        
            }
        }
        &__copyright{
            max-width: 1600px;
            width: 100%;
            
            padding-block: 1.14rem;
            padding-top: 3.57rem;
            ;
        
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3.57rem;
        
            border-top: 1px solid $color-20-grey;
        }
        &__contacts{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.14rem;
        }
        .contact{ // Компонент с вариантами связи
            padding-bottom: 1rem;
            ;
    
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 0.714rem;
    
            border-bottom: 1px solid $color-20-grey;
    
            cursor: pointer;
            user-select: none;
            
            &:hover{
                .contact__icon{
                    color: #9EFF00;
                }
                .contact__text{
                    color: $color-60-grey;
                }
            }
            &:active{
                .contact__icon{
                    transform: scale(0.95);
                    transition: transform 0.1s;
                }
                .contact__text{
                    color: $color-60-grey;
                }
            }
            &__icon{
                color: white;
                
                width: 1.714rem;
                height: 1.714rem;
            }
            &__text{
                @include font(400, 1.28rem, $colorAbs-white);
                @include transition(all, 0.5s, ease);
            }
        }
        &__license{
            @include text;
            color: $color-60-grey;
        }
    }
}
