@use '../core' as *;

.home-page{
    .hero{
        
        border-inline: 1px solid $color-20-grey;

        &__header{
            position: relative;
        
            padding-inline: 2.85rem;
            padding-top: 7.14rem ;
            padding-bottom:10.71rem;
            ;
            margin-inline: auto;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.57rem;

            overflow: hidden;

            border-bottom: 1px solid $color-20-grey;
            
            &:after{
                content: '';
        
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
        
                width: 100%;
                height: 100%;
        
                background-image: url(./pages/home-page/images/hero/hero-bg.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &::before{
                content: '';
        
                position: absolute; 
                z-index: -1;
                bottom: 0;
                left: 0;
                
                width: 100%;
                aspect-ratio: 1200 / 400;
                
                background-image: url(./pages/home-page/icons/hero/abstract.svg);
                background-position: bottom center;
                background-repeat: no-repeat;
                background-size: cover;
                pointer-events: none;
            }
        }
        &__description{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.85rem;
        }
        &__title{
            @include font(600, 4.85rem, $colorAbs-white);
            text-align: center;
        }
        &__text{
            @include font(400, 1.57rem, $color-60-grey);
            text-align: center;
            line-height: 3.57rem;

            padding: 1.714rem 2.85rem;
            ;

            border-radius: 10px;
            border: 2px solid $color-15-grey;
            background-color: $color-special-bg;

            span{
                color: $colorAbs-white;
                white-space: nowrap;
                line-height: 1;
                display: inline-block;

                margin-inline: 0.42rem;

                padding: 0.85rem 1rem;
                ;

                border-radius: 10px;
                background-color: $color-15-grey;
            }
        }
    }
    .button-group { //Компонент с кнопками
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.85rem;

        .button{
            @include green-button;
        }
        .button--grey{
            color: $colorAbs-white;
    
            border: 1px solid $color-20-grey;
            background-color: $color-special-bg;
    
            cursor: pointer;
            user-select: none;
    
            &:hover{
                transform: translateY(-2px);
        
                background-color: $color-20-grey;
                box-shadow: none;
            }
            &:active{
                transform: scale(0.95);
                transition: transform 0.1s;
            }
        }
    }
    .companies{
        width: 100%;
        padding-block: 2.85rem;
        ;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &__title{
            @include font(500, 1.28rem, $colorAbs-white);
            text-align: center;
    
            position: relative;
            bottom: 5.4rem;
    
            padding: 1.42rem 2.42rem;
            ;
    
            border-radius: 50px;
            @include border-grey;
            background-color: $color-10-grey;
        }
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        &__card{
            width: 14.28rem;
            min-width: 175px;
            height: 6.42rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image{
            &--zapier{
                width: 7.14rem;
                height: 3.57rem;
            }
            &--spotify{
                width: 10.35rem;
                height: 3.57rem;
            }
            &--zoom{
                width: 7.14rem;
                height: 3.57rem;
            }
            &--slack{
                width: 8.92rem;
                height: 3.57rem;
            }
            &--amazon{
                width: 8.21rem;
                height: 3.57rem;
            }
            &--adobe{
                width: 10rem;
                height: 3.57rem;
            }
        }
    }
}